@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Sans&display=swap');
* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  position: relative;
  padding-bottom: 100px ;
  min-height: 100vh;
}
/* HEADER */
.headerNav {
  height: 10vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  font-family: 'DM Sans', sans-serif;
  z-index: 9;
  top:0
}
.headerNav > a {
  height: 100%;
}
.headerNav > a > img {
  height: 80%;
}
/* escondiendo boton agg, span "en el carrito", el contador y estilizando la tabla */
.containerTable{
width: 90%;
margin-top: 80px;
margin-left: 90px;

}
.table{
  width: 100%;

}
  button{
    display: none;
  }

  .inCart{
    display: none;
  }

  .counterValue{
    display: none;
  }
  .container-back a{
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 100px;
  }

  
  footer {
    height: 10vh;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    position: absolute;
    bottom: 0;
    font-family: 'DM Sans', sans-serif;
  }

  i {
    color:#cfc219;
    padding-left: 3%;
  
  }

  footer div {
    color:#cfc219;
    padding-left: 1%;
    font-size: 1.3em;
  }
  

  @media (max-width:800px){
    body {
      background-color: #cfc219;
    }

    nav {
      position: relative;
    }

    .table{
      display: block;
      margin: auto;
      width:80%;
     
    }
  
    .card{
      background-color: black;
      color:white;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding:15px;
      margin:10px ;
    }
    .counter-card {
      height: 20px;
      width: 20px;
    }
    .card img{
  
      width: 100%;
      height: 60%;
      padding-bottom: 5%;
      
    }
    .card > div {

      padding-bottom: 10px;
      display: grid;
      grid-template-columns: 1fr;
    
    }
    .card span{
      font-family: 'DM Sans', sans-serif;
      padding: 5px;
      
      font-size: 150%;
    }
    .card button{
      width: 85px;
      height: 35px;
      background-color: #474536;
      color: white;
      border-radius: 5px;
      font-size: 120%;
      font-family: 'DM Sans', sans-serif;
      
    }
    
    
  }

  @media (min-width:801px){
    body{
      background-color: #cfc219;
      }
    
    nav {
      
      position: relative;
    } 
    .container-back a{
      display: inline-block;
      color: white;
      text-decoration: none;
      width: 100px;
    }
    .container-back a:hover{
      color:  #cfc219;
    }
  
    .card {
      background-color: black;
      color:white;
      height: 450px;
      width: 20%;
      align-items: center;
      flex-direction: column;
      padding:15px;
      margin:10px ;
      transition: 1s;
      display: inline-block
    }
    .card:hover{
      -webkit-transform:scale(1.05);
      -moz-transform:scale(1.05);
      -ms-transform:scale(1.05);
      -o-transform:scale(1.05);
      transform:scale(1.05);
    }
    .card img{
  
      width: 100%;
      height: 70%;
      padding-bottom: 30px;
      
    }
    .card > div{
      display: grid;
      grid-template-columns: 1fr;
    
    }
    .card span{
      font-family: 'DM Sans', sans-serif;
      margin-left: 10%;
    }
    .card button{
      width: 65px;
      height: 25px;
      background-color: #474536;
      color: white;
      border-radius: 5px;
      margin-top: 15px ;
      margin-left: 80px;
      cursor: pointer;
      margin-bottom:  40px;
      font-family: 'DM Sans', sans-serif;
      
    }
 
  }