@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
  }
  body {
    width: 100%;
    position: relative;
    min-height: 100vh;
  }
  /* HEADER */
  .headerNav {
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    font-family: 'DM Sans', sans-serif;
    z-index: 9;
  }
  .headerNav > img {
    height: 80%;
  }
  nav {
    display: flex;
  }
  .nav  a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    cursor: pointer;
    
  }
  .picture-medellin{
    background-image: url("../imagenes/medallo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    position: relative;
    padding-top: 10vh;
  }
  .text-center{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
  } 
  
  .text-center h1{
    font-family: 'Alfa Slab One', 'cursive' ;
    font-size: 3em;
  }
  .filter{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0,0, 0.67);
  }
  .categoría {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    cursor: pointer;
  }
  #carrito-modal{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    cursor: pointer;
  }
  /* MODAL  */
  .modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    display: none;
    text-align: center;
 
  }
  .container-modal {
    height: 550px;
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 1px 7px 25px rgb(0, 0, 0, 0.8);
    transition: all 500ms ease;
    margin-top: 25%;
  }
  .header-modal {
    padding: 10px;
    background-color: #a89d25;
    color: white;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    position: relative;
  }
  .header-modal > span {
    position: absolute;
    top: 3px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-size: 25px;
    
  }
  .header-modal > span:hover {
    color: red;
  }


/* MAIN  */
  main {
    display:flex;
    flex-direction: column;
     font-family: 'DM Sans', sans-serif;
    
  }
  main h2 {
    margin: auto;
  }
  .card {

  }
  .counter-card {
    height: 60px;
    width: 60px;
    right: -15px;
    top: -15px;
    border-radius: 50%;
  }
  footer {
    height: 10vh;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    position: absolute;
    bottom: 0;
    font-family: 'DM Sans', sans-serif;
  }

  i {
    color:#cfc219;
    padding-left: 3%;
  
  }

  footer div {
    color:#cfc219;
    padding-left: 1%;
    font-size: 1.3em;
  }
  /* CONTENIDO DEL MODAL  */
  .t-body > tr > td > img {
    height: 50px;
    width: 50px;
    border-radius: 7px;
    margin-top: 5%;
  }
  .t-body button{
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%; 
    font-size: 100%;
    font-weight: bold;
  }

  @media (max-width:800px){
    body {
      background-color: #cfc219;
    }
    nav {
      position: relative;
    }
    .menu-filtrar{
      display: none;
      position: absolute;
      padding: 10px;
      background-color: black;
      color:white 
    }
    main h1{
      font-family: 'Alfa Slab One', cursive;
      color: white;
      text-align: center;
      font-size: 3.5em;
      border-bottom: 8px double black;
    }
    .table{
      display: block;
      margin: auto;
      width:80%;
      padding: 90px 0;
    }
  
    .card{
      background-color: black;
      color:white;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding:15px;
      margin:10px ;
    }
    .counter-card {
      height: 20px;
      width: 20px;
    }
    .card img{
  
      width: 100%;
      height: 60%;
      padding-bottom: 5%;
      
    }
    .card > div {
      padding-bottom: 10px;
      display: grid;
      grid-template-columns: 1fr;
    
    }
    .card span{
      font-family: 'DM Sans', sans-serif;
      padding: 5px;
      font-size: 150%;
    }
    .card button{
      width: 85px;
      height: 35px;
      background-color: #474536;
      color: white;
      border-radius: 5px;
      font-size: 120%;
      font-family: 'DM Sans', sans-serif;
      
    }
    
  }

  @media (min-width:801px){
    body{
      background-color: #cfc219;
    }
    
    nav {
      
      position: relative;
    }
    
    .menu-filtrar{
      display: none;
      position: absolute;
      padding: 10px;
      background-color: black;
      color:white 
    }
    .nav > a:hover {
      color: #cfc219;
    }
    .categoría:hover {
      color: #cfc219;
    }
    .menu-filtrar  a:hover {
      color:#cfc219; 
    }
    .container-modal {
      margin-top: 6%;
      height: 450px;
    }
    #carrito-modal:hover{
      color: #cfc219;
    }
    main h1{
      font-family: 'Alfa Slab One', cursive;
      color: white;
      text-align: center;
      font-size: 80px;
      border-bottom: 14px double black;
      
    }
    .table{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      margin-top: 10vh;
    }
  
    .card {
      background-color: black;
      color:white;
      height: 450px;
      width: 20%;
      align-items: center;
      flex-direction: column;
      padding:15px;
      margin:10px ;
      transition: 1s;
      display: inline-block
    }
    .card:hover{
      -webkit-transform:scale(1.05);
      -moz-transform:scale(1.05);
      -ms-transform:scale(1.05);
      -o-transform:scale(1.05);
      transform:scale(1.05);
    }
    .card img{
  
      width: 100%;
      height: 70%;
      padding-bottom: 30px;
      
    }
    .card > div{
      display: grid;
      grid-template-columns: 1fr;
    
    }
    .card span{
      font-family: 'DM Sans', sans-serif;
      margin-left: 10%;
    }
    .card button{
      width: 65px;
      height: 25px;
      background-color: #474536;
      color: white;
      border-radius: 5px;
      margin-top: 15px ;
      margin-left: 80px;
      cursor: pointer;
      margin-bottom:  40px;
      font-family: 'DM Sans', sans-serif;
      
    }
 
  }
  